body{
    overflow: hidden;
}

#organizacao{
    margin: 10vh 0;
    height: 60vh;
}

#livros{
    margin-left: -60vw;
    text-align: center;
 
}


#livros #img  a img{
    height: 50vh;
    width: 18vw;
}

#livros img{
    width: 10vw;
    height: 4vh;
}

#informações{
    position: absolute;
    top: 35%;
    left: 40vw;
}

#informações h3{
    color: white;
    font-size: 36px;
    line-height: 49px;
}

#informações h3 span{
    border-bottom:4px solid #45CFC1;
    border-radius: 5px;
}

#informações ul{
    list-style: none;
    margin-left: -2vw;
}

#informações li{
    padding: 1vh 0;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

#informações li span{
    color: #45CFC1;
}

a.botao{
    text-decoration: none;
    color: white;
   padding: 2vh 5vw;
   border-radius: 5px;
   margin-right:  5vw;
}

#pos{
    background-color: #45CFC1;
}

#agora{
    background-color: #DE423E;
}

#video{
    position: absolute;
    top: 5%;
    left: 37vw;
}

#video h5{
    margin-top: 0.1vh;
    border-left: 3px solid #45CFC1;
}